<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavigationBar Transformation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E1037F91DB45F670038D84A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E1038121DB45F670038D84A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E10381D1DB45F670038D84A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
